.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
tools/**
wiki-src/**
*.vsix
*-validation-report.json
*.xps
*.cer
*.pfx
*.user
NuGet.Config
*.code-workspace
*.csproj*
*.sln*
