<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageManagement>
	<add key="format" value="1" />
	<add key="disabled" value="True" />
  </packageManagement>
  <packageSourceMapping>
	<packageSource key="PK">
	  <package pattern="Mal.Mdk2.References" />
	  <package pattern="Mal.Mdk2.PbPackager" />
	  <package pattern="NewOnes" />
	  <package pattern="System.Reflection" />
	</packageSource>
	<packageSource key="Local pk">
	  <package pattern="News" />
	  <package pattern="Mal.Mdk2.ModPackager" />
	</packageSource>
	<packageSource key="Microsoft Visual Studio Offline Packages">
	  <package pattern="*" />
	</packageSource>
	<packageSource key="nuget.org">
	  <package pattern="*" />
	</packageSource>
  </packageSourceMapping>
  <packageRestore>
	<add key="automatic" value="True" />
	<add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
	<add key="PK" value="C:\Program Files (x86)\Microsoft Visual Studio\Shared\NuGetPackages" allowInsecureConnections="True" />
	<add key="Local pk" value="C:\Users\Raidfire\.nuget\packages" allowInsecureConnections="True" />
	<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files\dotnet\library-packs" />
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
	<nuget.org>
	  <add key="Username" value="skip" />
	  <add key="ClearTextPassword" value="skip" />
	</nuget.org>
  </packageSourceCredentials>
</configuration>
